<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments::head">
</head>
<body>
<header th:replace="fragments::header"></header>
<nav th:replace="fragments::navBar"></nav>

<p th:if="${error}" th:text="${error}"></p>




<table>
    <tr>
        <th>Player</th>
        <th>Score</th>
    </tr>
    <th:block th:each="player : ${players}">
        <tr>
            <td th:text="${player.name}"></td>
            <td th:text="${player.score}"></td>
        </tr>
    </th:block>




</body>
</html>